:root{
    --hover:#ff7070;
    --font-primary: 'Oswald', sans-serif;
    --font-secondary:"DM Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
    height: 200px;

}


.right{
    list-style-type: none;
    text-align: left;
    color: white;
}

.right > a{
    color: white;
    text-decoration: none;
    padding: 25px;
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    top: -26.5px;
    left: 605px;
    font-family: 'Anek Telugu';
}

.onHover::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover:hover::after{
    width: 83%;
}

.onHover1::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover1:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover1:hover::after{
    width: 78.2%;
}

.onHover2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover2:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover2:hover::after{
    width: 71%;
}

.onHover3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover3:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover3:hover::after{
    width: 68%;
}


.onHover4::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover4:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover4:hover::after{
    width: 68%;
}


.name{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black';
    position: relative;
    left: 312px;
    top: 29px;
}

.name:hover{
    color: var(--hover);
    transition: 0.3s;
}

.active5, .active1, .active2, .active3{
    color: var(--hover) !important;
}

.active2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 71%;   
    height: 3px;
    left: 20px;
    top: 55px;
}

.title{
    font-family: var(--font-primary);
    color: white;
    font-size: 3.3rem;
    position: relative;
    left: 315px;
    top: 75px;
    text-transform: uppercase;
}

.schedule{
    color: white;
    position: relative;
    left: 315px;
    top: 260px;
}

.day{
    font-family: var(--font-primary);
    font-size: 2.8rem;
    text-transform: uppercase;
}

.air-yoga{
    font-family: var(--font-secondary);
    font-size: 1rem;
    position: relative;
    top: 0px;
}

.body-building{
    font-family: var(--font-secondary);
    font-size: 1rem;
    position: relative;
    top: 15px;
}

.tuesday{
    position: relative;
    left: 700px;
    top: -226px;
}

.wednesday{
    position: relative;
    top: -30px;
}

.thursday{
    position: relative;
    left: 700px;
    top: -256px;
}

.changes-part{
    width: 1920px;
    height: 500px;
    background-color: white;
    position: relative;
    top: 190px;
    left: -8px;
}

.changes{
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: black;
    font-size: 3.5rem;
    position: relative;
    top: 155px;
    left: 315px;
}

.changes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 185px;
    left: 315px;
}

.changes-button:hover{
    background-color: #790909;
    transition: 0.3s
}

.footer{
    width: 1920px;
    height: 300px;
    background-color: black;
    position: relative;
    left: -8px;
    top: 190px;
}

.hours{
    font-family: var(--font-primary);
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    left: 315px;
    top: 80px;
}

.program{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 315px;
    font-size: 1.1rem;
    top: 85px;
}

.address-h1{
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -73px;
    left: 995px;
    font-size: 1.6rem;
}

.adresa{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 995px;
    font-size: 1.1rem;
    top: -73px;
}

.fa-facebook{
    color: white;
    position: relative;
    top: 100px;
    left: 405px;
}

.fa-instagram{
    color: white;
    position: relative;
    top: 100px;
    left: 475px;
}

.fa-twitter{
    color: white;
    position: relative;
    left: 263px;
    top: 100px;
}


.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 23px;
    top: 12px;
    display: none;
}

.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active span:nth-of-type(2) {
    display: none;
}

.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

.media_button button.active{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 5px;
    position: relative;
    top: -15px;
}

.hide{
    display: none;
}

@media screen and (max-width:360px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -230px;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .schedule{
        position: relative;
        top: -120px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .changes-part{
        position: relative;
        top: 150px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 150px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }
    
    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 60px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 367px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }

}
@media screen and (min-width:361px) and (max-width:375px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -230px;
    }

    .schedule{
        position: relative;
        top: -110px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .changes-part{
        position: relative;
        top: 160px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 160px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 382px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }

}

@media screen and (min-width:376px) and (max-width:384px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -230px;
    }

    .schedule{
        position: relative;
        top: -100px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .changes-part{
        position: relative;
        top: 160px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 160px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 391px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

@media screen and (min-width:385px) and (max-width:390px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -260px;
    }

    .schedule{
        position: relative;
        top: -200px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 240px;
    }

    .changes-part{
        position: relative;
        top: 120px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 120px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 397px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

@media screen and (min-width:412px) and (max-width:414px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -230px;
    }

    .schedule{
        position: relative;
        top: -150px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 240px;
    }

    .changes-part{
        position: relative;
        top: 180px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 180px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 421px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

@media screen and (min-width:424px) and (max-width:428px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        position: relative;
        height: 100%;
    }

    html,body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 25px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .title, .day{
        font-size: 2.3rem;
    }

    .welcome-part{
        position: relative;
        left: -292px;
        top: -230px;
    }

    .schedule{
        position: relative;
        top: -150px;
        left: 0px;
    }

    .monday{
        position: relative;
        left: 25px;
        top: 60px;
    }

    .tuesday{
        position: relative;
        left: 25px;
        top: 120px;
    }

    .wednesday{
        position: relative;
        left: 25px;
        top: 180px;
    }

    .thursday{
        position: relative;
        left: 25px;
        top: 240px;
    }

    .changes-part{
        position: relative;
        top: 180px;
        background-color: white;
        height: 300px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 50px;
        font-size: 2.2rem;
        width: 300px;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 90px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 180px;
        height: 250px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -50px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 120px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 223px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 435px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .active2{
        color: white !important;
        background-color: rgb(19, 19, 19) !important;
    }

    .active2::after{
        display: none;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }
    .onHover{
        position: absolute;
        top: -26.2px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}

@media screen and (min-width:425px) and (max-width:1366px){

:root{
    --hover:#ff7070;
    --font-primary: 'Oswald', sans-serif;
    --font-secondary:"DM Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    overflow-x: hidden;
    background-color: black;
    height: 200px;

}


.right{
    list-style-type: none;
    text-align: left;
    color: white;
}

.right > a{
    color: white;
    text-decoration: none;
    padding: 25px;
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    top: -26.5px;
    left: 400px;
    font-family: 'Anek Telugu';
}

.onHover::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover:hover::after{
    width: 83%;
}

.onHover1::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover1:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover1:hover::after{
    width: 78.2%;
}

.onHover2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover2:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover2:hover::after{
    width: 71%;
}

.onHover3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover3:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover3:hover::after{
    width: 68%;
}


.onHover4::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover4:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover4:hover::after{
    width: 68%;
}


.name{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black';
    position: relative;
    left: 100px;
    top: 29px;
}

.name:hover{
    color: var(--hover);
    transition: 0.3s;
}

.active5, .active1, .active2, .active3{
    color: var(--hover) !important;
}

.active2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 71%;   
    height: 3px;
    left: 20px;
    top: 55px;
}

.title{
    font-family: var(--font-primary);
    color: white;
    font-size: 3.3rem;
    position: relative;
    left: 100px;
    top: 75px;
    text-transform: uppercase;
}

.schedule{
    color: white;
    position: relative;
    left: 100px;
    top: 260px;
}

.day{
    font-family: var(--font-primary);
    font-size: 2.8rem;
    text-transform: uppercase;
}

.air-yoga{
    font-family: var(--font-secondary);
    font-size: 1rem;
    position: relative;
    top: 0px;
}

.body-building{
    font-family: var(--font-secondary);
    font-size: 1rem;
    position: relative;
    top: 15px;
}

.tuesday{
    position: relative;
    left: 700px;
    top: -226px;
}

.wednesday{
    position: relative;
    top: -30px;
}

.thursday{
    position: relative;
    left: 700px;
    top: -256px;
}

.changes-part{
    width: 1920px;
    height: 500px;
    background-color: white;
    position: relative;
    top: 190px;
    left: -8px;
}

.changes{
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: black;
    font-size: 3.5rem;
    position: relative;
    top: 110px;
    left: 315px;
}

.changes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 145px;
    left: 315px;
}

.changes-button:hover{
    background-color: #790909;
    transition: 0.3s
}

.footer{
    width: 1920px;
    height: 300px;
    background-color: black;
    position: relative;
    left: -60px;
    top: 130px;
}

.hours{
    font-family: var(--font-primary);
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    left: 315px;
    top: 80px;
}

.program{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 315px;
    font-size: 1.1rem;
    top: 85px;
}

.address-h1{
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -73px;
    left: 995px;
    font-size: 1.6rem;
}

.adresa{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 995px;
    font-size: 1.1rem;
    top: -73px;
}

.fa-facebook{
    color: white;
    position: relative;
    top: 100px;
    left: 405px;
}

.fa-instagram{
    color: white;
    position: relative;
    top: 100px;
    left: 475px;
}

.fa-twitter{
    color: white;
    position: relative;
    left: 263px;
    top: 100px;
}


.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 23px;
    top: 12px;
    display: none;
}

.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active span:nth-of-type(2) {
    display: none;
}

.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

.media_button button.active{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 5px;
    position: relative;
    top: -15px;
}

.hide{
    display: none;
}
}