:root{
    --hover:#ff7070;
    --font-primary: 'Oswald', sans-serif;
    --font-secondary:"DM Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-image: url('images/wallpaper.jpg.png');
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.right{
    list-style-type: none;
    text-align: left;
    color: white;
}

.right > li{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 1.4rem;
    top: -26.5px;
    left: 562px;
    font-family: 'Anek Telugu';
}

.right > li > a{
    color: white;
    text-decoration: none;
    padding: 15px;
}

.onHover::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.onHover:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover:hover::after{
    width: 83%;
}

.onHover1::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.onHover1:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover1:hover::after{
    width: 78.2%;
}

.onHover2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.onHover2:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover2:hover::after{
    width: 71%;
}

.onHover3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.onHover3:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover3:hover::after{
    width: 68%;
}


.name{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black';
    position: relative;
    left: 312px;
    top: 29px;
}

.name:hover{
    color: var(--hover);
    transition: 0.3s;
}

.quote{
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    font-family: var(--font-primary);
    position: relative;
    top: 135px;
    left: 312px;
}

.quote2{
    font-family: var(--font-secondary);
    color: white;
    font-size: 1.5rem;
    left: 315.6px;
    position: relative;
    top: 140px;
}

.started{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    left: 315px;
    top: 240px;
}

.started:hover{
    background-color: #790909;
    transition: 0.3s;
}

.active, .active1, .active2, .active3{
    color: var(--hover) !important;
}

.active:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 83%;
    height: 3px;
    left: 20px;
    top: 42px;
}

.active1:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 78.2%;
    height: 3px;
    left: 20px;
    top: 42px;
}

.active2:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 71%;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.popular-classes{
    color: black;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 3rem;
    position: relative;
    left: 314.6px;
    top: -45px;
}

.classes-part{
    position: relative;
    top: 600px;
}

.cardio{
    position: relative;
    left: 315px;
}

.cardio-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.cardio-photo:hover{
   filter: brightness(1.3);
   transition: 0.3s;
}

.classes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 50px;
   grid-row-gap: 50px; 
}

.yoga{
    position: relative;
    left: 100px;
}

.yoga-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.yoga-photo:hover{
    filter: brightness(1.3);
    transition: 0.3s;
}

.lifting{
    position: relative;
    left: 315px;
}

.lifting-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.lifting-photo:hover{
    filter: brightness(1.4);
    transition: 0.3s;
}

.press-and-back{
    position: relative;
    left: 100px;
}

.press-and-back-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.press-and-back-photo:hover{
    filter: brightness(1.4);
    transition: 0.3s;
}

.all-classes{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 35px 15px 35px;
    position: relative;
    top: 80px;
    left: 838px;
}

.all-classes:hover{
    background-color: #790909;
    transition: 0.3s;
}

.onHover4::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 42px;
    transition: 0.3s;
}

.onHover4:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover4:hover::after{
    width: 68%;
}

.active3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 68%;
    height: 3px;
    left: 20px;
    top: 42px;
}

.about-part{
    width: 1920px;
    height: 700px;
    color: white;
    position: relative;
    top: 760px;
    left: -8px;
}

.about{
    font-family: var(--font-primary);
    position: relative;
    top: 145px;
    left: 324px;
    font-size: 3rem;
    z-index: 1;
}

.description{
    font-family: var(--font-secondary);
    width: 550px;
    font-size: 1.1rem;
    position: relative;
    left: 324px;
    top: 180px;
    z-index: 1;
}

.schedule{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 35px 15px 35px;
    position: relative;
    top: 285px;
    left: 325px;
    z-index: 1;
}

.schedule:hover{
    background-color: #790909;
    transition: 0.3s;
}

.about-photo{
    position: relative;
    top: -278px;
    height: 750px;
    width: 1920px;
}

.classes-photo{
    position: relative;
    height: 750px;
    width: 1920px;
    left: -8px;
    top: 504px;
    z-index: -1;
}

.classes2{
    font-family: var(--font-primary);
    color: white;
    font-size: 3rem;
    position: relative;
    top: 900px;
    left: 1170px;
}

.classes-description{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    font-size: 1.1rem;
    top: 950px;
    left: 1170px;
    width: 450px;
}

.classes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 285px;
    left: 1170px;
}

.classes-button:hover{
    background-color: #790909;
    transition: 0.3s;
}

.changes{
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: black;
    font-size: 3.5rem;
    position: relative;
    top: 600px;
    left: 315px;
}

.changes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 630px;
    left: 315px;
}

.changes-button:hover{
    background-color: #790909;
    transition: 0.3s
}

.footer{
    width: 1920px;
    height: 300px;
    background-color: black;
    position: relative;
    left: -8px;
    top: 780px;
}

.hours{
    font-family: var(--font-primary);
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    left: 315px;
    top: 80px;
}

.program{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 315px;
    font-size: 1.1rem;
    top: 85px;
}

.address-h1{
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -73px;
    left: 995px;
    font-size: 1.6rem;
}

.adresa{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 995px;
    font-size: 1.1rem;
    top: -73px;
}

.fa-facebook{
    color: white;
    position: relative;
    top: 100px;
    left: 405px;
}

.fa-instagram{
    color: white;
    position: relative;
    top: 100px;
    left: 475px;
}

.fa-twitter{
    color: white;
    position: relative;
    left: 263px;
    top: 100px;
}

@media screen and (max-width:600px) {
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
    }

    .name{
        position: relative;
        left: 35px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -278px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -245px;
    }

    .quote2{
        position: relative;
        top: -215px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -155px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1100px;
        width: 380px;
        top: -58px;
        left: -8px;
        margin: 0;
    }

    .classes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 50px;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:29px;
        top:35px;
    }

    .cardio{
        position: relative;
        left: 31px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 314px;
    }

    .yoga{
        position: relative;
        left: 31px;
        top: 35px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left: 31px;
        top: 0px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left: 31px;
        top: 0px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 90px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 52px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 52px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 52px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 288px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 287px;
        height: 720px;
        width: 370px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 28px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left: 28px;;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 28px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -210px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 470px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    /* SA FACI CONTRAST LA POZELE 2 SI 3, CA NU SE DIFERA BACKGROUND-UL */
    /* IMAGINILE TREBUIE SA FIE JPG PENTRU A SE RANDA PE TOATE BROWSERELE */
}