:root{
    --hover:#ff7070;
    --font-primary: 'Oswald', sans-serif;
    --font-secondary:"DM Sans", sans-serif;
}

*{
    box-sizing: border-box;
}

body{
    background-image: url('images/wallpaper.jpg.png');
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.right{
    list-style-type: none;
    text-align: left;
    color: white;
}

.right > a{
    color: white;
    text-decoration: none;
    padding: 25px;
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    top: -26.5px;
    left: 605px;
    font-family: 'Anek Telugu';
}

.onHover::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover:hover::after{
    width: 83%;
}

.onHover1::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover1:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover1:hover::after{
    width: 78.2%;
}

.onHover2::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover2:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover2:hover::after{
    width: 71%;
}

.onHover3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover3:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover3:hover::after{
    width: 68%;
}


.name{
    text-decoration: none;
    font-size: 2.5rem;
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black';
    position: relative;
    left: 312px;
    top: 29px;
}

.name:hover{
    color: var(--hover);
    transition: 0.3s;
}

.quote{
    text-transform: uppercase;
    color: white;
    font-size: 80px;
    font-family: var(--font-primary);
    position: relative;
    top: 135px;
    left: 312px;
}

.quote2{
    font-family: var(--font-secondary);
    color: white;
    font-size: 1.5rem;
    left: 315.6px;
    position: relative;
    top: 140px;
}

.started{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-weight: bold;
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 20px;
    position: relative;
    left: 315px;
    top: 240px;
}

.started:hover{
    background-color: #790909;
    transition: 0.3s;
}

.active5, .active1, .active2, .active3{
    color: var(--hover) !important;
}

.active5:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 83%;
    height: 3px;
    left: 20px;
    top: 55px;
}

.active1:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 78.2%;
    height: 3px;
    left: 20px;
    top: 55px;
}

.active2:after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 71%;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.popular-classes{
    color: black;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 3rem;
    position: relative;
    left: 314.6px;
    top: -45px;
}

.classes-part{
    position: relative;
    top: 600px;
}

.cardio{
    position: relative;
    left: 315px;
}

.cardio-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.cardio-photo:hover{
   filter: brightness(1.3);
   transition: 0.3s;
}

.classes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 50px;
   grid-row-gap: 50px; 
}

.yoga{
    position: relative;
    left: 100px;
}

.yoga-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.yoga-photo:hover{
    filter: brightness(1.3);
    transition: 0.3s;
}

.lifting{
    position: relative;
    left: 315px;
}

.lifting-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.lifting-photo:hover{
    filter: brightness(1.4);
    transition: 0.3s;
}

.press-and-back{
    position: relative;
    left: 100px;
}

.press-and-back-text{
    font-family: var(--font-primary);
    font-size: 2rem;
    position: relative;
    top: -10px;
}

.press-and-back-photo:hover{
    filter: brightness(1.4);
    transition: 0.3s;
}

.all-classes{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 35px 15px 35px;
    position: relative;
    top: 80px;
    left: 838px;
}

.all-classes:hover{
    background-color: #790909;
    transition: 0.3s;
}

.onHover4::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 0;
    height: 3px;
    left: 20px;
    top: 55px;
    transition: 0.3s;
}

.onHover4:hover{
    color: var(--hover);
    transition: 0.3s;
}

.onHover4:hover::after{
    width: 68%;
}

.active3::after{
    content: "";
    position: absolute;
    background-color: var(--hover);
    width: 68%;
    height: 3px;
    left: 20px;
    top: 42px;
}

.about-part{
    width: 1920px;
    height: 700px;
    color: white;
    position: relative;
    top: 760px;
    left: -8px;
}

.about{
    font-family: var(--font-primary);
    position: relative;
    top: 145px;
    left: 324px;
    font-size: 3rem;
    z-index: 1;
}

.description{
    font-family: var(--font-secondary);
    width: 550px;
    font-size: 1.1rem;
    position: relative;
    left: 324px;
    top: 180px;
    z-index: 1;
}

.schedule{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 35px 15px 35px;
    position: relative;
    top: 285px;
    left: 325px;
    z-index: 1;
}

.schedule:hover{
    background-color: #790909;
    transition: 0.3s;
}

.about-photo{
    position: relative;
    top: -278px;
    height: 750px;
    width: 1920px;
}

.classes-photo{
    position: relative;
    height: 750px;
    width: 1920px;
    left: -8px;
    top: 504px;
    z-index: -1;
}

.classes2{
    font-family: var(--font-primary);
    color: white;
    font-size: 3rem;
    position: relative;
    top: 900px;
    left: 1170px;
}

.classes-description{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    font-size: 1.1rem;
    top: 950px;
    left: 1170px;
    width: 450px;
}

.classes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 285px;
    left: 1170px;
}

.classes-button:hover{
    background-color: #790909;
    transition: 0.3s;
}

.changes{
    text-transform: uppercase;
    font-family: var(--font-primary);
    color: black;
    font-size: 3.5rem;
    position: relative;
    top: 600px;
    left: 315px;
}

.changes-button{
    background-color: #ff1010;
    color: white;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 45px 15px 45px;
    position: relative;
    top: 630px;
    left: 315px;
}

.changes-button:hover{
    background-color: #790909;
    transition: 0.3s
}

.footer{
    width: 1920px;
    height: 300px;
    background-color: black;
    position: relative;
    left: -8px;
    top: 780px;
}

.hours{
    font-family: var(--font-primary);
    color: white;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: relative;
    left: 315px;
    top: 80px;
}

.program{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 315px;
    font-size: 1.1rem;
    top: 85px;
}

.address-h1{
    font-family: var(--font-primary);
    color: white;
    text-transform: uppercase;
    position: relative;
    top: -73px;
    left: 995px;
    font-size: 1.6rem;
}

.adresa{
    font-family: var(--font-secondary);
    color: white;
    position: relative;
    left: 995px;
    font-size: 1.1rem;
    top: -73px;
}

.fa-facebook{
    color: white;
    position: relative;
    top: 100px;
    left: 405px;
}

.fa-instagram{
    color: white;
    position: relative;
    top: 100px;
    left: 475px;
}

.fa-twitter{
    color: white;
    position: relative;
    left: 263px;
    top: 100px;
}

.media_button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: absolute;
    right: 23px;
    top: 12px;
    display: none;
}

.media_button button.main_media_button {
    width: 100%;
    height: 100%;
    background-color: transparent;;
    outline: 0;
    border: none;
    cursor: pointer;
}

.media_button button.main_media_button span{
    width: 98%;
    height: 1px;
    display: block;
    background-color: #fff;
    margin-top: 9px;
    margin-bottom: 10px;
}

.media_button button.main_media_button:hover span:nth-of-type(1){
    transform: rotateY(180deg);
    transition: all 0.5s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(2){
    transform: rotateY(180deg);
    transition: all 0.4s;
    background-color: #c0c0c0;
}

.media_button button.main_media_button:hover span:nth-of-type(3){
    transform: rotateY(180deg);
    transition: all 0.3s;
    background-color: #c0c0c0;
}

.media_button button.active span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active span:nth-of-type(2) {
    display: none;
}

.media_button button.active span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -45deg);
    position: absolute;
    margin: 0;
}

.media_button button.active:hover span:nth-of-type(1) {
    transform: rotate3d(0, 0, 1, 20deg);
}

.media_button button.active:hover span:nth-of-type(3) {
    transform: rotate3d(0, 0, 1, -20deg);
}

.media_button button.active{
   
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding-top: 5px;
    position: relative;
    top: -15px;
}
    


.hide{
    display: none;
}

@media screen and (max-width:360px) {
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
        position: relative;
    }

    html, body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 35px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -278px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -140px;
    }

    .quote2{
        position: relative;
        top: -105px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -40px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1450px;
        width: 380px;
        top: 65px;
        left: -8px;
        margin: 0;
    }

    .classes{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-row-gap: 50px;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:29px;
        top:35px;
    }

    .cardio{
        position: relative;
        left: 31px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 314px;
    }

    .yoga{
        position: relative;
        left: 31px;
        top: 45px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left: 31px;
        top: 25px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left: 31px;
        top: 10px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 90px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 62px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 62px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 62px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 65px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 65px;
        height: 720px;
        width: 370px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 38px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left:38px;;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 38px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -430px;
    }

    .changes{
        position: relative;
        left: 32px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 32px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 275px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 367px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -27px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 60px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }

}

@media screen and (min-width:361px) and (max-width:375px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
        position: relative;
    }

    html, body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 35px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -278px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -150px;
    }

    .quote2{
        position: relative;
        top: -120px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -65px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1450px;
        width: 390px;
        top: 0px;
        left: 0px;
        margin: 0;
    }

    .classes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:28px;
        top:35px;
    }

    .cardio{
        position: relative;
        left:30px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 314px;
    }

    .yoga{
        position: relative;
        left:30px;
        top: 45px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left:30px;
        top: 25px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left:30px;
        top: 10px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 89px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 65px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 65px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 65px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 0px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 0px;
        height: 720px;
        width: 400px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 45px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left: 45px;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 45px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -500px;
    }

    .changes{
        position: relative;
        left: 40px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 42px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 200px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -260px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -939px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 382px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -27px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 60px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
    
}

@media screen and (min-width:376px) and (max-width:384px){
        :root{
            --hover:#ff7070;
            --font-primary: 'Oswald', sans-serif;
            --font-secondary:"DM Sans", sans-serif;
        }
        
        *{
            box-sizing: border-box;
            margin: 0;
        }
    
        body{
            background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
            background-repeat: no-repeat;
            position: relative;
        }
    
        html, body{
            overflow-y: scroll;
        }
    
        .name{
            position: relative;
            left: 35px;
            top: -30px;
            width: 130px;
            height: 130px;
        }
    
        .welcome-part{
            position: relative;
            left: -278px;
        }
    
        .quote{
            font-size: 2.4rem;
            width: 300px;
            font-weight: bold;
            position: relative;
            top: -170px;
        }
    
        .quote2{
            position: relative;
            top: -140px;
            width: 300px;
            font-size: 1.3rem;
        }
    
        .started{
            position: relative;
            top: -75px;
            font-size: 1rem;
        }
    
        .classes-part{
            position: relative;
            background-color: white;
            height: 1450px;
            width: 390px;
            top: 0px;
            left: 0px;
            margin: 0;
        }
    
        .classes{
            display: flex;
            flex-direction: column;
            justify-content: center;
        } 
    
        .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
            width: 300px;
        }
    
        .popular-classes{
            font-size: 2.2rem;
            position: relative;
            left:33px;
            top:35px;
        }
    
        .cardio{
            position: relative;
            left:35px;
            top: 65px;
        }
    
        .cardio-text{
            font-size: 1.6rem;
            position: relative;
            top: -4px;
        }
    
        .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
            width: 314px;
        }
    
        .yoga{
            position: relative;
            left:35px;
            top: 45px;
        }
    
        .yoga-text{
            font-size: 1.6rem;
            position: relative;
            top: -4px;
        }
    
        .lifting{
            position: relative;
            left:35px;
            top: 25px;
        }
    
        .lifting-text{
            font-size: 1.6rem;
            position: relative;
            top: -4px;
        }
    
        .press-and-back{
            position: relative;
            left:35px;
            top: 10px;
        }
    
        .press-and-back-text{
            font-size: 1.6rem;
            position: relative;
            top: -4px;
        }
    
        .all-classes{
            position: relative;
            top: 60px;
            font-size: 1rem;
            left: 94px;
        }
    
        .about-photo{
            height: 600px;
            position: relative;
            top: -705px;
            display: none;
        }
    
        .about{
            position: relative;
            font-size: 2.4rem;
            top: 130px;
            color: white;
            left: 64px;
        }
    
        .description{
            position: relative;
            font: 1.1rem;
            top: 170px;
            width: 300px;
            left: 64px;
        }
    
        .schedule{
            position: relative;
            top: 250px;
            font-size: 1rem;
            left: 64px;
        }
    
        .about-part{
            background: url('images/index1.jpg.png');
            position: relative;
            top: 0px;
            left:-30px;
        }
    
        .classes-second-part{
            background:url("images/index2.jpg.png");
            position: relative;
            top: 0px;
            height: 720px;
            width: 400px;
            left: -8px;
        }
    
        .classes-photo{
            display: none;
        }
    
        .classes2{
            position: relative;
            left: 41px;
            top: 130px;
            font-size: 2.4rem;
            text-transform: uppercase;
        }
    
        .classes-description{
            position: relative;
            top: 170px;
            font-size: 1.1rem;
            left: 41px;
            width: 300px;
        }
    
        .classes-button{
            position: relative;
            top: 250px;
            left: 41px;
            width: 300px;
            font-size: 1.1rem;
        }
    
        .changes-part{
            position: relative;
            top: -500px;
        }
    
        .changes{
            position: relative;
            left: 32px;
            top: 560px;
            font-size: 2.2rem;
        }
    
        .changes-button{
            position: relative;
            left: 34px;
            top: 610px;
            font-size: 1rem;
            width: 300px;
        }
    
        .footer{
            position: relative;
            top: 200px;
            height: 381px;
        }    
    
        .work-hours{
            position: relative;
            left: -270px;
            top: -30px;
        }
    
        .hours{
            font-size: 1.4rem;
        }
    
        .program{
            font-size: 1rem;
            position: relative;
            top: 90px;
        }
    
        .address{
            position: relative;
            left: -949px;
            top: 150px;
        }
    
        .address-h1{
            font-size: 1.4rem;
        }
    
        .adresa{
            font-size: 1rem;
        }
    
        .fa-brands{
            position: relative;
            top: 253px;
        }
        
        .nav-bar{
            position: relative;
            left: -612px;
            top: -107px;
            display: block;
            z-index: 1;
        }
    
        .right-bar{
            transform: rotate(45deg);
            position: relative;
            top: -132px !important;
        }
    
        .left-bar{
            transform: rotate(-45deg);
        }
    
        .right > a{
            color: white;
            background-color: rgb(37, 37, 37);
            width: 391px;
            text-align: center;
            height: 80px;
        }
    
        .right a:not(:last-child){
            border-bottom: 1px solid rgb(66, 66, 66);
        }
    
        .onHover1{
            position: relative;
            top: 20px;
        }
        
        .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
            color: white;
        }
    
        .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
            display: none;
        }
    
        .onHover{
            position: absolute;
            top: -27px !important;
        }
    
        .onHover2{
            position: relative;
            left: -185px;
            top: 83px;
        }
    
        .onHover3{
            position: relative;
            top: 93px;
        }
    
        #top{
            position: relative;
            top: -110px;
            left: 300px;
        }
    
        #middle{
            position: relative;
            left: 300px;
            top: -103px;
        }
    
        #bottom{
            position: relative;
            left: 300px;
            top: -96px;
        }
    
        .media_button{
            display: block;
        }
    
       .nav-bar{
            width: 100%;
            margin-top: 65px;
            height: 60px;
            overflow: hidden;
        }
        
        .nav div.show_list{
           overflow: visible;
        }
        
        .nav div.main_list ul{
            flex-direction: column;
            width: 100%;
            height: 200px;
            top: 80px;
            right: 0;
            left: 0;
        }
        
        .nav div.main_list ul li{
            width: 100%;
            height: 40px;
            background-color:rgba(0,0,255,0.8);
        }
        
        .nav div.main_list ul li a{
            text-align: center;
            line-height: 40px;
            width: 100%;
            height: 40px;
            display: table;
        }
        
        .nav div.media_button{
            display: block;
        }
    

}

@media screen and (min-width:385px) and (max-width:390px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
        position: relative;
    }

    html, body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 35px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -278px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -170px;
    }

    .quote2{
        position: relative;
        top: -140px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -75px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1450px;
        width: 390px;
        top: 0px;
        left: 0px;
        margin: 0;
    }

    .classes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:36px;
        top:35px;
    }

    .cardio{
        position: relative;
        left:38px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 314px;
    }

    .yoga{
        position: relative;
        left:38px;
        top: 45px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left:38px;
        top: 25px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left:38px;
        top: 10px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 94px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 67px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 67px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 67px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 0px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 0px;
        height: 720px;
        width: 400px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 44px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left: 44px;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 44px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -500px;
    }

    .changes{
        position: relative;
        left: 35px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 37px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 200px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -270px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -949px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 397px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -27px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 60px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }

}

@media screen and (min-width:412px) and (max-width:414px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
        position: relative;
    }

    html, body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 47px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -266px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -150px;
    }

    .quote2{
        position: relative;
        top: -110px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -35px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1450px;
        width: 415px;
        top: 50px;
        left: 0px;
        margin: 0;
    }

    .classes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:46px;
        top:35px;
    }

    .cardio{
        position: relative;
        left:48px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 314px;
    }

    .yoga{
        position: relative;
        left:48px;
        top: 45px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left:48px;
        top: 25px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left:48px;
        top: 10px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 104px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 77px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 77px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 77px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 50px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 50px;
        height: 720px;
        width: 420px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 54px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left: 54px;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 54px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -470px;
    }

    .changes{
        position: relative;
        left: 45px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 47px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 210px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -260px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -939px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 421px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -27px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
    /* sa mai faci si pe 400px */
}

@media screen and (min-width:424px) and (max-width:428px){
    :root{
        --hover:#ff7070;
        --font-primary: 'Oswald', sans-serif;
        --font-secondary:"DM Sans", sans-serif;
    }
    
    *{
        box-sizing: border-box;
        margin: 0;
    }

    body{
        background-image: url('images/edgar-chaparro-sHfo3WOgGTU-unsplash.jpg.png');
        background-repeat: no-repeat;
        position: relative;
    }

    html, body{
        overflow-y: scroll;
    }

    .name{
        position: relative;
        left: 47px;
        top: -30px;
        width: 130px;
        height: 130px;
    }

    .welcome-part{
        position: relative;
        left: -266px;
    }

    .quote{
        font-size: 2.4rem;
        width: 300px;
        font-weight: bold;
        position: relative;
        top: -145px;
    }

    .quote2{
        position: relative;
        top: -115px;
        width: 300px;
        font-size: 1.3rem;
    }

    .started{
        position: relative;
        top: -55px;
        font-size: 1rem;
    }

    .classes-part{
        position: relative;
        background-color: white;
        height: 1450px;
        width: 428px;
        top: 50px;
        left: 0px;
        margin: 0;
    }

    .classes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 300px;
    }

    .popular-classes{
        font-size: 2.2rem;
        position: relative;
        left:46px;
        top:35px;
    }

    .cardio{
        position: relative;
        left:48px;
        top: 65px;
    }

    .cardio-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .cardio-photo, .yoga-photo, .lifting-photo, .press-and-back-photo{
        width: 330px;
    }

    .yoga{
        position: relative;
        left:48px;
        top: 45px;
    }

    .yoga-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .lifting{
        position: relative;
        left:48px;
        top: 25px;
    }

    .lifting-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .press-and-back{
        position: relative;
        left:48px;
        top: 10px;
    }

    .press-and-back-text{
        font-size: 1.6rem;
        position: relative;
        top: -4px;
    }

    .all-classes{
        position: relative;
        top: 60px;
        font-size: 1rem;
        left: 104px;
    }

    .about-photo{
        height: 600px;
        position: relative;
        top: -705px;
        display: none;
    }

    .about{
        position: relative;
        font-size: 2.4rem;
        top: 130px;
        color: white;
        left: 77px;
    }

    .description{
        position: relative;
        font: 1.1rem;
        top: 170px;
        width: 300px;
        left: 77px;
    }

    .schedule{
        position: relative;
        top: 250px;
        font-size: 1rem;
        left: 77px;
    }

    .about-part{
        background: url('images/index1.jpg.png');
        position: relative;
        top: 70px;
        left:-30px;
    }

    .classes-second-part{
        background:url("images/index2.jpg.png");
        position: relative;
        top: 50px;
        height: 720px;
        width: 436px;
        left: -8px;
    }

    .classes-photo{
        display: none;
    }

    .classes2{
        position: relative;
        left: 54px;
        top: 130px;
        font-size: 2.4rem;
        text-transform: uppercase;
    }

    .classes-description{
        position: relative;
        top: 170px;
        font-size: 1.1rem;
        left: 54px;
        width: 300px;
    }

    .classes-button{
        position: relative;
        top: 250px;
        left: 54px;
        width: 300px;
        font-size: 1.1rem;
    }

    .changes-part{
        position: relative;
        top: -470px;
    }

    .changes{
        position: relative;
        left: 45px;
        top: 560px;
        font-size: 2.2rem;
    }

    .changes-button{
        position: relative;
        left: 47px;
        top: 610px;
        font-size: 1rem;
        width: 300px;
    }

    .footer{
        position: relative;
        top: 210px;
        height: 381px;
    }

    .work-hours{
        position: relative;
        left: -260px;
        top: -30px;
    }

    .hours{
        font-size: 1.4rem;
    }

    .program{
        font-size: 1rem;
        position: relative;
        top: 90px;
    }

    .address{
        position: relative;
        left: -939px;
        top: 150px;
    }

    .address-h1{
        font-size: 1.4rem;
    }

    .adresa{
        font-size: 1rem;
    }

    .fa-brands{
        position: relative;
        top: 253px;
    }

    .nav-bar{
        position: relative;
        left: -612px;
        top: -107px;
        display: block;
        z-index: 1;
       
    }

    .right-bar{
        transform: rotate(45deg);
        position: relative;
        top: -132px !important;
    }

    .left-bar{
        transform: rotate(-45deg);
    }

    .right > a{
        color: white;
        background-color: rgb(37, 37, 37);
        width: 435px;
        text-align: center;
        height: 80px;
    }

    .right a:not(:last-child){
        border-bottom: 1px solid rgb(66, 66, 66);
    }

    .onHover1{
        position: relative;
        top: 20px;
    }
    
    .onHover1:hover, .onHover2:hover, .onHover3:hover, .onHover4:hover, .onHover:hover{
        color: white;
    }

    .onHover1:hover::after, .onHover2:hover::after, .onHover3:hover::after, .onHover4:hover::after, .onHover:hover::after{
        display: none;
    }

    .onHover{
        position: absolute;
        top: -27px !important;
    }

    .onHover2{
        position: relative;
        left: -185px;
        top: 83px;
    }

    .onHover3{
        position: relative;
        top: 93px;
    }

    #top{
        position: relative;
        top: -110px;
        left: 300px;
    }

    #middle{
        position: relative;
        left: 300px;
        top: -103px;
    }

    #bottom{
        position: relative;
        left: 300px;
        top: -96px;
    }

    .media_button{
        display: block;
    }

   .nav-bar{
        width: 100%;
        margin-top: 65px;
        height: 70px;
        overflow: hidden;
    }
    
    .nav div.show_list{
       overflow: visible;
    }
    
    .nav div.main_list ul{
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }
    
    .nav div.main_list ul li{
        width: 100%;
        height: 40px;
        background-color:rgba(0,0,255,0.8);
    }
    
    .nav div.main_list ul li a{
        text-align: center;
        line-height: 40px;
        width: 100%;
        height: 40px;
        display: table;
    }
    
    .nav div.media_button{
        display: block;
    }
}